@{  ViewBag.PageTitle = "À propos"; }

<h2>Wikimedia</h2>
<dl>
    <dt>
        Auteur
    </dt>

    <dd>
        Yanick Lamarche
    </dd>
    <dt>
        Courriel
    </dt>

    <dd>
        <a href="mailto:admin@ylamarche.ca">admin@ylamarche.ca</a>
    </dd>

</dl>