@model Models.Media
@{ ViewBag.PageTitle = "Détails"; }

<div id="detailsPanel"></div>

@section scripts {
    <script>
        $(() => {
            const id = '@Model.Id';
            let mediasListAutoRefreshPanel =
                new AutoRefreshedPanel(
                    "detailsPanel",
                    "/Medias/GetDetails/" + id,
                    5
                );
        });
    </script>
}